<h1>Pick Flick</h1>
	<form class="col-sm-12 search">
		<form action="" method="post">
			<input id="genre" type="checkbox" name="action" value="28">Action<br>
			<input id="genre" type="checkbox" name="adventure" value="12">Adventure<br>
			<input id="genre" type="checkbox" name="animation" value="16">Animation<br>
			<input id="genre" type="checkbox" name="comedy" value="35">Comedy<br>
			<input id="genre" type="checkbox" name="crime" value="80">Crime<br>
			<input id="genre" type="checkbox" name="documentary" value="99">Documentary<br>
			<input id="genre" type="checkbox" name="drama" value="18">Drama<br>
			<input id="genre" type="checkbox" name="family" value="10751">Family<br>
			<input id="genre" type="checkbox" name="fantasy" value="14">Fantasy<br>
			<input id="genre" type="checkbox" name="history" value="36">History<br>
			<input id="genre" type="checkbox" name="horror" value="27">Horror<br>
			<input id="genre" type="checkbox" name="mystery" value="9648">Mystery<br>
			<input id="genre" type="checkbox" name="romance" value="10749">Romance<br>
			<input id="genre" type="checkbox" name="science-fiction" value="878">Science Fiction<br>
			<input id="genre" type="checkbox" name="thriller" value="53">Thriller<br>
			<input id="genre" type="checkbox" name="war" value="10752">War<br>
			<input id="genre" type="checkbox" name="western" value="37">Western<br>
			<input id="btnSubmit" type="submit">
			
		</form>
		<div id="divResult"></div>
	</form>



