<html>
	<head>
		<link rel="stylesheet" href="site.scss">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
	<center>
		<h1>Pick Flick</h1>
		<%= button_to "Movies", movies_path, :method => "get", :class => "movies-btn"%>
		<%= button_to "Series", series_path, :method => "get", :class => "series-btn"%>
	</center>
		<script src="site.js" charset="utf-8"></script>
		<script type='text/javascript' src="site.js"></script>
	</body>
</html>



