<html>
	<head>
	</head>
	<body>
	<center>
		<h1>Pick Flick</h1>
		<%= button_to "Movies", movies_path, :method => "get", :class => "movies-btn"%>
		<%= button_to "Series", series_path, :method => "get", :class => "series-btn"%>
	</center>
	</body>
</html>



