// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.try-again {
	display:none;
}

.new-search {
	display:none;
}

.left-genres {
	text-align:left;
}

.right-genres {
	text-align:left;
}

.genres {
	margin-left: 50px;
	margin-bottom: 15px;
}
