<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel" style="text-align:center"><h3>What are you in the mood for?</h3>
        	
	        	<form action="" method="post">
	        		<div class="col-xs-24 genres">
	        			
		        		<div class="col-sm-6 left-genres">
		        			<br>
		        			<input id="genre" type="checkbox" name="action" value="10759"> Action & Adventure<br>
									<input id="genre" type="checkbox" name="animation" value="16"> Animation<br>
									<input id="genre" type="checkbox" name="comedy" value="35"> Comedy<br>
									<input id="genre" type="checkbox" name="crime" value="80"> Crime<br>
									<input id="genre" type="checkbox" name="documentary" value="99"> Documentary<br>
									<input id="genre" type="checkbox" name="drama" value="18"> Drama<br>
									<input id="genre" type="checkbox" name="family" value="10751"> Family<br>
									<input id="genre" type="checkbox" name="kids" value="10762"> Kids<br>
				        </div>
								<div class="col-sm-6 right-genres">
									<br>
									<input id="genre" type="checkbox" name="mystery" value="9648"> Mystery<br>
									<input id="genre" type="checkbox" name="news" value="10763"> News<br>
									<input id="genre" type="checkbox" name="reality" value="10764"> Reality<br>
									<input id="genre" type="checkbox" name="scifi" value="10765"> Sci-Fi & Fantasy<br>
									<input id="genre" type="checkbox" name="soap" value="10766"> Soap<br>
									<input id="genre" type="checkbox" name="talk" value="10767"> Talk<br>
									<input id="genre" type="checkbox" name="war" value="10768"> War & Politics<br>
									<input id="genre" type="checkbox" name="western" value="37"> Western<br>
								</div>
							</div>
					
					<center><input id="btnSubmit" type="submit"></center>
				</form>
        </h4>
      </div>
      <div class="modal-body" style="text-align:center;">
		<div class="seriesRecommendation">
			
		</div>
		<div class="container-btn">
			<button class="modal-result-btn try-again">Not quite? Next option</button>
			<%= button_to "Start over?", root_path, :method => "get", :class => "modal-result-btn new-search"%>
		</div>
		
	  </div>
    </div>
</div>